blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

abbr,
fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: 400;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.container__block {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
}

.navbar {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: -webkit-linear-gradient(45deg,#a612a1 0,#cdd5ff 55%,#a612a1 100%);
  background: -o-linear-gradient(45deg,#a612a1 0,#cdd5ff 55%,#a612a1 100%);
  background: linear-gradient(45deg,#a612a1 0,#cdd5ff 55%,#a612a1 100%);
}

.navbar-default .navbar-brand {
  color: #eee;
}

.navbar-default .navbar-nav>li>a {
  color: #eee;
}

@media screen and (max-width:780px) {
  .container__block {
    padding-left: 5px;
    padding-right: 5px;
  }
}